name: Portfolio Deployment

permissions:
  contents: read
  security-events: write
  
on:
  push:
    branches:
      - main

jobs:
  secret-scan:
    name: TruffleHog Secret Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@main
        with:
          path: .
          fail: true

  dependency-check:
    name: OWASP Dependency Check
    needs: secret-scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "portfolio-website"
          path: "."
          format: "SARIF"
          out: "dependency-check-report"

      - name: Upload Dependency-Check Report (Artifact)
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: dependency-check-report/

      - name: Upload SARIF Report to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: dependency-check-report/dependency-check-report.sarif

  build-and-deploy:
    name: Deploy to AWS S3
    needs: dependency-check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Deploy static site to S3 bucket
        run: aws s3 sync . s3://rd-portfolio --delete
